<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SLC.CLib.IASToolkit" version="1.7.1.1-devF10.1.8F1.7.1.X.15" targetFramework="net462" />
  <package id="SLC.Lib.Automation" version="1.2.2.2" targetFramework="net462" />
  <package id="SLC.Lib.Common" version="1.2.2.2" targetFramework="net462" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net462" developmentDependency="true" />
</packages>