<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Moq" version="4.16.1" targetFramework="net462" />
  <package id="SLC.CLib.IASToolkit" version="1.7.1.1-devF10.1.8F1.7.1.X.15" targetFramework="net462" />
  <package id="SLC.Lib.Common" version="1.2.2.2" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="Castle.Core" version="4.4.0" targetFramework="net462" />
  <package id="FluentAssertions" version="6.4.0" targetFramework="net462" />
  <package id="MSTest.TestAdapter" version="2.2.7" targetFramework="net462" />
  <package id="MSTest.TestFramework" version="2.2.7" targetFramework="net462" />
</packages>